/* administrateur.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    padding-top: 60px;
    position: fixed;
    height: 100%;
    transition: width 0.3s;
    border-right: 1px solid #ccc;
    overflow-y: auto; /* Active le défilement vertical */
}

.sidebar hr {
    color: #fff;
    width: 80%;
    margin-left: 25px;
    margin-right: 20px;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.sidebar li a {
    color: #fff;
    text-decoration: none;
}

.sidebar li:hover {
    background-color: #555;
}

.sidebar i {
    font-size: 20px;
    margin-right: 20px;
}

.sidebar .text {
    font-size: 16px;
    white-space: nowrap;
}

.sidebar.collapsed .text {
    display: none;
}

/* Navbar */
.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #333;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

.navbar .menu-icon {
    cursor: pointer;
}

.navbar .menu-icon i {
    font-size: 24px;
    color: #fff;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .logo span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.navbar .search-box {
    display: flex;
    max-width: 300px;
    flex: 1;
    margin: 0 20px;
}

.navbar .search-box input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    height: 35px;
    width: 30%;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.navbar .search-box button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 0 4px 4px 0;
    height: 35px;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar .search-box button:hover {
    background-color: #e0e0e0;
}

.navbar .icons i {
    font-size: 20px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

.navbar .icons i:hover {
    color: red;
}

/* Content/ Contenue de la page*/
.content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
    flex: 1;
}

.content.collapsed {
    margin-left: 80px;
}

@media (max-width: 600px) {
    .sidebar {
        width: 80px;
    }

    .sidebar .text {
        display: none;
    }

    .content {
        margin-left: 80px;
    }

    .navbar .search-box {
        display: none;
    }
}